In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import yfinance as yf
from datetime import datetime

def get_sp500_tickers():
    url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
    response = requests.get(url)
    if response.status_code != 200:
        print("Failed to fetch data.")
        return []
    
    soup = BeautifulSoup(response.text, 'html.parser')
    table = soup.find('table', {'id': 'constituents'})
    
    tickers = []
    if table:
        df = pd.read_html(str(table))[0]
        tickers = df['Symbol'].tolist()
    else:
        print("Table not found on Wikipedia page.")
    
    return tickers

def download_stock_data(tickers, start_date, end_date, interval='1d'):
    data = yf.download(tickers, start=start_date, end=end_date, interval=interval, group_by='ticker', threads=True)
    return data

def download_spy_data(start_date, end_date, interval='1d'):
    spy_data = yf.download('SPY', start=start_date, end=end_date, interval=interval)
    return spy_data

if __name__ == "__main__":
    start_date = "1993-01-01"
    end_date = datetime.today().strftime('%Y-%m-%d')
    
    tickers = get_sp500_tickers()
    print(f"Total tickers fetched: {len(tickers)}")
    
    # Download stock data for S&P 500 tickers
    stock_data = download_stock_data(tickers, start_date, end_date)
    print("Stock data downloaded.")
    
    # Download SPY ETF data for market returns
    spy_data = download_spy_data(start_date, end_date)
    print("SPY data downloaded.")

/tmp/ipykernel_6207/725812707.py:19: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Total tickers fetched: 503

[*********************100%***********************]  1 of 1 completed

SPY data downloaded.

In [2]:
stock_data

Ticker                           PODD                                      \
Price                            Open        High         Low       Close
Date
1993-01-04 00:00:00+00:00         NaN         NaN         NaN         NaN
1993-01-05 00:00:00+00:00         NaN         NaN         NaN         NaN
1993-01-06 00:00:00+00:00         NaN         NaN         NaN         NaN
1993-01-07 00:00:00+00:00         NaN         NaN         NaN         NaN
1993-01-08 00:00:00+00:00         NaN         NaN         NaN         NaN
...                               ...         ...         ...         ...
2025-01-10 00:00:00+00:00  268.179993  274.450012  266.890015  271.829987
2025-01-13 00:00:00+00:00  271.320007  271.320007  260.839996  267.989990
2025-01-14 00:00:00+00:00  268.899994  271.130005  262.489990  267.040009
2025-01-15 00:00:00+00:00  270.109985  270.769989  263.130005  264.380005
2025-01-16 00:00:00+00:00  264.220001  275.329987  263.279999  272.859985

Ticker                                                   IT              \
Price                       Adj Close    Volume        Open        High
Date
1993-01-04 00:00:00+00:00         NaN       NaN         NaN         NaN
1993-01-05 00:00:00+00:00         NaN       NaN         NaN         NaN
1993-01-06 00:00:00+00:00         NaN       NaN         NaN         NaN
1993-01-07 00:00:00+00:00         NaN       NaN         NaN         NaN
1993-01-08 00:00:00+00:00         NaN       NaN         NaN         NaN
...                               ...       ...         ...         ...
2025-01-10 00:00:00+00:00  271.829987  557600.0  492.690002  494.390015
2025-01-13 00:00:00+00:00  267.989990  453400.0  485.049988  493.679993
2025-01-14 00:00:00+00:00  267.040009  472900.0  495.420013  500.619995
2025-01-15 00:00:00+00:00  264.380005  654100.0  507.230011  511.859985
2025-01-16 00:00:00+00:00  272.859985  692300.0  508.940002  513.429993

Ticker                                             ...         MHK  \
Price                             Low       Close  ...         Low
Date                                               ...
1993-01-04 00:00:00+00:00         NaN         NaN  ...    8.888889
1993-01-05 00:00:00+00:00         NaN         NaN  ...    8.888889
1993-01-06 00:00:00+00:00         NaN         NaN  ...    8.888889
1993-01-07 00:00:00+00:00         NaN         NaN  ...    8.888889
1993-01-08 00:00:00+00:00         NaN         NaN  ...    8.888889
...                               ...         ...  ...         ...
2025-01-10 00:00:00+00:00  483.529999  489.000000  ...  117.300003
2025-01-13 00:00:00+00:00  483.720001  493.130005  ...  117.510002
2025-01-14 00:00:00+00:00  494.730011  499.799988  ...  123.690002
2025-01-15 00:00:00+00:00  505.739990  509.279999  ...  128.610001
2025-01-16 00:00:00+00:00  505.700012  512.059998  ...  127.720001

Ticker                                                            LIN  \
Price                           Close   Adj Close  Volume        Open
Date
1993-01-04 00:00:00+00:00    9.000000    9.000000  281250    8.312500
1993-01-05 00:00:00+00:00    9.111111    9.111111   71100    8.187500
1993-01-06 00:00:00+00:00    9.055556    9.055556  373050    8.312500
1993-01-07 00:00:00+00:00    9.000000    9.000000  265050    8.437500
1993-01-08 00:00:00+00:00    9.111111    9.111111  233100    8.500000
...                               ...         ...     ...         ...
2025-01-10 00:00:00+00:00  118.089996  118.089996  597400  415.609985
2025-01-13 00:00:00+00:00  122.870003  122.870003  948500  415.790009
2025-01-14 00:00:00+00:00  125.580002  125.580002  721300  422.279999
2025-01-15 00:00:00+00:00  130.059998  130.059998  837800  433.220001
2025-01-16 00:00:00+00:00  128.720001  128.720001  403800  427.920013

Ticker                                                                     \
Price                            High         Low       Close   Adj Close
Date
1993-01-04 00:00:00+00:00    8.375000    8.187500    8.187500    4.772275
1993-01-05 00:00:00+00:00    8.375000    8.125000    8.250000    4.808706
1993-01-06 00:00:00+00:00    8.500000    8.250000    8.437500    4.917992
1993-01-07 00:00:00+00:00    8.750000    8.437500    8.562500    4.990854
1993-01-08 00:00:00+00:00    8.687500    8.375000    8.437500    4.917992
...                               ...         ...         ...         ...
2025-01-10 00:00:00+00:00  417.890015  411.720001  414.149994  414.149994
2025-01-13 00:00:00+00:00  422.679993  413.700012  421.429993  421.429993
2025-01-14 00:00:00+00:00  427.809998  420.720001  427.290009  427.290009
2025-01-15 00:00:00+00:00  433.920013  426.410004  427.980011  427.980011
2025-01-16 00:00:00+00:00  432.750000  427.649994  432.489990  432.489990

Ticker
Price                       Volume
Date
1993-01-04 00:00:00+00:00  1185200
1993-01-05 00:00:00+00:00   878600
1993-01-06 00:00:00+00:00   564400
1993-01-07 00:00:00+00:00  3073800
1993-01-08 00:00:00+00:00  1084000
...                            ...
2025-01-10 00:00:00+00:00  2642600
2025-01-13 00:00:00+00:00  2824500
2025-01-14 00:00:00+00:00  2344300
2025-01-15 00:00:00+00:00  2202300
2025-01-16 00:00:00+00:00  1509700

[8067 rows x 3018 columns]

In [17]:
adj_close_data = {}

# Loop through the first level of multi-index columns (Ticker)
for ticker in stock_data.columns.levels[0]:
    if 'Adj Close' in stock_data[ticker].columns:
        adj_close_data[ticker] = stock_data[ticker]['Adj Close']

# Convert the dictionary to a DataFrame
adj_close_df = pd.DataFrame(adj_close_data)
adj_close_df.reset_index(inplace=True)
adj_close_df.columns = adj_close_df.columns.str.strip()
adj_close_df.set_index('Date', inplace=True)

adj_close_df

,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1993-01-04 00:00:00+00:00,NaN,0.422536,NaN,NaN,3.091449,NaN,NaN,1.985995,1.622528,6.117228,...,NaN,4.876399,NaN,5.170105,5.481534,NaN,NaN,NaN,5.277778,NaN
1993-01-05 00:00:00+00:00,NaN,0.429790,NaN,NaN,3.027838,NaN,NaN,2.015860,1.635507,6.117228,...,NaN,4.925000,NaN,5.140303,5.537354,NaN,NaN,NaN,5.305556,NaN
1993-01-06 00:00:00+00:00,NaN,0.447925,NaN,NaN,2.951505,NaN,NaN,2.000927,1.726369,6.231039,...,NaN,4.925000,NaN,5.140303,5.515026,NaN,NaN,NaN,5.361111,NaN
1993-01-07 00:00:00+00:00,NaN,0.442485,NaN,NaN,2.887895,NaN,NaN,1.956131,1.739349,6.145682,...,NaN,4.925000,NaN,5.065809,5.503862,NaN,NaN,NaN,5.222222,NaN
1993-01-08 00:00:00+00:00,NaN,0.451552,NaN,NaN,2.938784,NaN,NaN,1.985995,1.687428,6.145682,...,NaN,4.876399,NaN,5.065809,5.414550,NaN,NaN,NaN,5.222222,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-01-10 00:00:00+00:00,137.470001,236.850006,173.533554,129.630005,111.723709,90.169998,349.790009,405.920013,212.369995,51.090000,...,312.920013,27.290001,81.150002,63.369999,106.540001,114.019997,123.250000,104.540001,385.540009,163.320007
2025-01-13 00:00:00+00:00,141.949997,234.399994,175.088882,128.850006,112.599121,90.830002,349.140015,408.500000,212.949997,52.119999,...,311.260010,28.660000,81.330002,63.619999,109.290001,115.639999,123.730003,105.489998,381.690002,166.320007
2025-01-14 00:00:00+00:00,143.429993,233.279999,173.910004,127.599998,112.430000,91.989998,348.989990,412.709991,214.649994,51.189999,...,313.239990,28.959999,81.800003,64.080002,109.720001,115.419998,124.709999,104.709999,394.399994,164.410004
2025-01-15 00:00:00+00:00,142.229996,237.869995,171.350006,132.520004,111.099998,93.620003,349.730011,417.279999,218.220001,51.139999,...,313.350006,29.559999,82.410004,64.940002,111.510002,116.089996,125.769997,106.510002,400.250000,167.169998
2025-01-16 00:00:00+00:00,144.720001,228.259995,173.699997,132.160004,113.910004,96.099998,350.559998,426.929993,215.020004,51.009998,...,322.119995,30.030001,82.500000,66.199997,111.320000,118.949997,126.239998,108.940002,402.720001,169.369995

In [20]:
adj_close_df.to_csv('adjusted_close_prices.csv')

In [4]:
spy_data.to_csv('spy_closing_data.csv')